/* Override default syles added by browser*/
* {
    padding: 0;
    margin: o;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}