/* Override default syles added by browser*/
* {
    padding: 0;
    margin: o;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main {
    flex: 1 0 auto;
}

header {
    background-color:aqua;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px blue;
}

/* Media query: tablets and larger {768px and up)*/
    @media scrren and (min-width: 768px) {
        nav {
            display: block;
            position: relative;
            box-shadow: none;
            width:fit-content;
            padding-right: 1rem;
        }
        /*#xxxx {
            display: flex;
        }
        #xxxx > li {
            padding-left: 1rem;
        }*/
    }

    #note-app {
        max-width: 400px;
        background-color: aliceblue;
        margin: 10px auto 0px;
        padding: 10px;
        border-radius: 40px 10px;
        border: 10px solid green;
    }

    #access-date {
        max-width: 333px;
        background-color: aliceblue;
        margin: 10px auto 0px;
        padding: 10px;
        border-radius: 10px 10px;
        border: 10px solid green;
    }

   /* p #date {
        max-width: 380px;
        background-color: aliceblue;
        margin: 5px auto 0px;
        padding: 5px;
        border-radius: 5px 5px;
        border: 10px solid: white;
    }*/

    #note-form input[type='text'] {
        font-size: 1rem;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid blue;
    }

    #note-form button[type='submit'] {
        font-size: 1rem;
        border-radius: 5px;
        padding: 0px;
        border: 2px solid blue; 
    }

    #note-list {
        padding: 10px;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        background-color: aliceblue;
    }

    #note-list {
        list-style: none;

    }

    #note-form button:hover {
        background-color: aqua;
    }

    /*.item-note {
        display: flex;
        flex-direction: column;
    }*/

