/* Override default syles added by browser*/
* {
    padding: 0;
    margin: o;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main {
    flex: 1 0 auto;
}

header {
    background-color:aqua;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px blue;
}

/* Media query: tablets and larger {768px and up)*/
    @media scrren and (min-width: 768px) {
        nav {
            display: block;
            position: relative;
            box-shadow: none;
            width:fit-content;
            padding-right: 1rem;
        }
        #xxxx {
            display: flex;
        }
        #xxxx > li {
            padding-left: 1rem;
        }
    }